<div class="flex h-full">
    <fnd-menu></fnd-menu>
    <div class="grid grid-cols-12 w-full auto-rows-max py-4 px-8 gap-4">

        <div class="grid col-span-12">
            <h1>Productos</h1>
        </div>
        <div class="grid col-span-12">
            <div class="overflow-x-auto">
            <table class="table table-xs">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>GUID</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Actualización</th>
                </tr>
                <tr>
                    <td>Whisky Johnnie Walker</td>
                    <td>1234567-8899-12d3-a456-426614174001</td>
                    <td>2024-09-01</td>
                    <td>2024-10-15</td>
                </tr>
                <tr>
                    <td>Coca Cola</td>
                    <td>98f165f3-b2fa-6d3f-a876-426614112253</td>
                    <td>2024-03-20</td>
                    <td>2024-10-16</td>
                </tr>
                <tr>
                    <td>Cocktail Margarita</td>
                    <td>5b9cc921-c31d-5fdf-a876-426614112345</td>
                    <td>2024-10-03</td>
                    <td>2024-10-16</td>
                </tr>
                <tr>
                    <td>Vodka Absolut</td>
                    <td>25a4c780-7f39-3dfd-b8f6-57f608127689</td>
                    <td>2024-07-15</td>
                    <td>2024-10-16</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>