<div class="flex flex-col h-full">
<ul class="menu bg-secondary rounded-box text-white w-56 h-full">
    <li>
        <a class="py-4" [routerLink]="['/Home']">
            <fa-icon [icon]="faHome"></fa-icon>
            Home
        </a>
    </li>
    <li>
        <a class="py-4" [routerLink]="['/products']">
            <fa-icon [icon]="faBoxesStacked"></fa-icon>
            Productos
        </a>
    </li>
    <li>
        <a class="py-4">
            <fa-icon [icon]="faChartPie"></fa-icon>
            Reportes
        </a>
    </li>
</ul>
</div>